<a href="https://colab.research.google.com/github/NesanK96/Data-Science/blob/main/Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### **Assessment**

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### **import necessary libraries**

In [1]:
import pandas as pd

###### **merge those two csv files (after getting as dataframes, get them as a single dataframe)**

In [2]:
college1 = pd.read_csv('https://raw.githubusercontent.com/NesanK96/Data-Science/main/college_1.csv')

college2 = pd.read_csv('https://raw.githubusercontent.com/NesanK96/Data-Science/main/college_2.csv')

df = college1.append(college2, ignore_index = True)

df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### **consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv**

In [3]:
Exceeded_expectations = df.loc[df['CodeKata Score'] > 15000]

Exceeded_expectations.to_csv('/content/Exceeded_expectations.csv')

Exceeded_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

###### **if  10000<codekata score<15000   (Reached_expectations.csv)**

In [4]:
Reached_expectations = df[(df['CodeKata Score'] > 10000) & (df['CodeKata Score']<15000)]

Reached_expectations.to_csv('/content/Reached_expectations.csv')

Reached_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

###### **if  7000<codekata score<10000   (Needs_Improvement.csv)**

In [5]:
Needs_improvement = df.loc[(df['CodeKata Score']>7000) & (df['CodeKata Score']<10000)]

Needs_improvement.to_csv('/content/Needs_improvement.csv')

Needs_improvement

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
89,Poojitha Y,0.0,35.0,7210,8970,Computer Science and Engineering,1760,78.0,0.0
90,Gowtham Chandrasekaran,-1.0,0.0,7250,8950,Computer Science and Engineering,1700,0.0,3.0
91,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
93,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
94,Rushitha,-1.0,62.0,7470,8090,Computer Science and Engineering,620,15.0,9.0
95,Balaraman Muthupandi,-1.0,0.0,7670,8050,Computer Science and Engineering,380,9.0,0.0
96,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
97,SRIRAMKUMAR B,-1.0,0.0,6400,7940,Computer Science and Engineering,1540,0.0,0.0
98,Praneetha,-1.0,100.0,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
99,Rahul Raj K,-1.0,0.0,6280,7640,Computer Science and Engineering,1360,0.0,0.0
100,Guhan S,-1.0,35.0,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
101,Suryarajan S,-1.0,31.0,6710,7550,Computer Science and Engineering,840,63.0,0.0

###### **if  codekate score < 7000        (Unsatisfactory.csv)**

In [6]:
Unsatisfactory = df[df['CodeKata Score']<7000]

Unsatisfactory.to_csv('/content/Unsatisfactory.csv')

Unsatisfactory

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.00,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.00,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.00,0,0,Computer Science and Engineering,0,-1.0,0.0

###### **Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)**

In [7]:
Previous = df['Previous Geekions'].mean()
Current = df['CodeKata Score'].mean()

print('Previous week Geekions : ', Previous, '\nCurrent week Geekions : ', Current)

Previous week Geekions :  3842.3529411764707
Current week Geekions :  4051.764705882353

###### **No of students participated**

In [8]:
Previous = df['Previous Geekions'].count()
Current = df['CodeKata Score'].count()

print('Previous week Participation : ', Previous, '\nCurrent week Participation : ', Current)

Previous week Participation :  119
Current week Participation :  119

###### #**Average completion of python course or my_sql or python english or computational thinking**

In [9]:
Python_Course = df['python'].mean()
My_SQL = df['mysql'].mean()
Python_English = df['python_en'].mean()
Computational_Thinking = df['computational_thinking'].mean()


print('Python Course: ', Python_Course, '\nMy_SQL : ', My_SQL, '\nPython English : ', Python_English, '\nComputational Thinking : ', Computational_Thinking)

Python Course:  54.35294117647059
My_SQL :  23.5
Python English :  29.65714285714286
Computational Thinking :  2.2

###### **rising star of the week (top 3 candidate who performed well in that particular week)**

In [10]:
Rising_Star = df.sort_values(by = 'Rising')

Rising_Star = Rising_Star[ :-4:-1]

Rising_Star

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0

###### **Shining stars of the week (top 3 candidates who has highest geekions)**

In [11]:
Shining_Stars = df.sort_values(by = 'CodeKata Score', ascending = False)

Shining_Stars = Shining_Stars[:3]

Shining_Stars

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### **Department wise codekata performence (pie chart)**

In [12]:
!pip install jupyter-dash -q

     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9.8 MB 6.1 MB/s
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 357 kB 45.3 MB/s
  Building wheel for retrying (setup.py) ... done

In [31]:
import plotly.express as px

Department = px.pie(df, values = 'CodeKata Score', names = 'Department', title = 'Department wise Codekata performance')

Department.update_traces(textposition = 'inside', textinfo = 'percent+label',
                         insidetextorientation = 'radial')

# Department.update_layout(uniformtext_minsize=10)

Department.show()

###### **Department wise toppers (horizantal bar graph or any visual representations of your choice)**

In [21]:
df_new = df.sort_values(['CodeKata Score'], ascending=False).groupby('Department').head(3)

df_new

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
91,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN

In [24]:
Department_Toppers = px.bar(df_new, x='Department', y = 'CodeKata Score', 
                          color = 'Name', title = 'Department wise Toppers',
                          text_auto=True)

Department_Toppers.show()